<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     <bean id="messageServiceImpl" class="MessageServiceImpl">

         <constructor-arg name="username" value="Wang wei"/>
         <constructor-arg name="age" value="20"/>
     </bean>
    <bean id="messagePrinter" class="MessagePrinter">
        <constructor-arg name="service" ref="messageServiceImpl"></constructor-arg>
    </bean>
</beans>